<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body bgcolor="white" style="color: cornflowerblue;">
  <h1 style="text-align: center;"> Employee Registration Form</h1>
  <link rel="stylesheet" type="text/css" href="style.css">
  <div class="container">
    <form method="POST" action="" style="text-align: center;"> 
      Name <input type="text"  name="full_name" />
      <br>
      <br>
      Gender <input type="gender" name="gender" />
      <br>
      <br>
      Age <input type="number" name="age" />
      <br>
      <br>
      Degree <input type="text" name="degree" />
      <br>
      <br>
      Email <input type="email" name="email" />
      <br>
      <br>
      Mobile-Number <input type="text" name="mobile_number" />
      <br>
      <br>
      <input type="submit">
    </form>
  </div>
  
</body>
</html>